.db-main-row {
  border: 1px solid lightslategrey;
  border-radius: 5px;
}

.db-container {
  -webkit-box-shadow: 0px 1px 8px 2px rgba(34, 60, 80, 0.53);
  -moz-box-shadow: 0px 1px 8px 2px rgba(34, 60, 80, 0.53);
  box-shadow: 0px 1px 8px 2px rgba(34, 60, 80, 0.53);
  border-radius: 5px;
  margin-top: 100px;
}
.db-button {
  display: flex;
  justify-content: center;
}
input.db-invalid-input {
  border: 2px solid red;
  opacity: .8;
}
//$body-color: grey;

body {
  background-image: linear-gradient(to right, #051937, #004760, #2f787b, #76a88f, #c8d5aa);
  //background-image: linear-gradient(to right, #748093, #689db0, #62bab7, #86d3a7, #cbe490);
  //background-image: linear-gradient(to right, #649293, #6ea2a6, #79b3ba, #84c3cf, #90d4e4);
  //background-image: linear-gradient(to right, #438384, #43979d, #42aab9, #41bed6, #42d2f5);
  //background-image: linear-gradient(to right, #587575, #5a8c90, #5aa4ae, #56bccf, #51d4f3);
  //background-image: linear-gradient(to right, #76a3a3, #75aeb2, #74b9c1, #72c3d2, #71cee4);
}

